<script src="https://giscus.app/client.js"
        data-repo="{{ site.repository }}"
        data-repo-id="{{ site.giscus.repo_id }}"
        data-category="{{ site.giscus.category_name }}"
        data-category-id="{{ site.giscus.category_id }}"
        data-mapping="{{ site.giscus.discussion_term | default: 'pathname' }}"
        data-strict="0"
        data-reactions-enabled="{{ site.giscus.reactions_enabled | default: 1 }}"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="{{ site.giscus.theme | default: 'preferred_color_scheme' }}"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>